<img src="fig_before_after_9month.png">
<img src="fig_before_after_10month.png">
<img src="fig_before_after_all.png">
<img src="fig_before_after_diff_9_10month.png">
<img src="fig_diff_9month.png">
<img src="fig_diff_10month.png">
<img src="fig_diff_all.png">
<img src="fig_after_average.png">
